<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.simple_fields_for :profile, resource.profile || resource.build_profile do |address_fields| %>
      <%= address_fields.input :zip, required: true %>
      <h4>Optional, but helpful.</h4>
      <%= address_fields.input :address1 %>
      <%= address_fields.input :address2 %>
      <%= address_fields.input :city %>
      <%= address_fields.input :state %>

    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
