<div class="main__content profile">
  <div class="main__scroll pad-all">
    <h2 class="h2">Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, input_html: { class: "form-control--text" }, required: true, autofocus: true %>
        <%= f.input :password, input_html: { class: "form-control--text" }, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.simple_fields_for :profile, resource.profile || resource.build_profile do |address_fields| %>
          <%= address_fields.input :zip, input_html: { class: "form-control--text" }, required: true %>
          <%= address_fields.input :address1, input_html: { class: "form-control--text" } %>
          <%= address_fields.input :address2, input_html: { class: "form-control--text" } %>
          <%= address_fields.input :city, input_html: { class: "form-control--text" } %>
          <%= address_fields.input :state, input_html: { class: "form-control--text" } %>
        <% end %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="margin-top-double">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
