<div class="main__content profile">
  <h2 class="h2">Resend unlock instructions</h2>

  <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :unlock_token %>

    <div class="form-inputs">
      <%= f.input :email, input_html: { class: "form-controll--text" }, required: true, autofocus: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Resend instructions", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="margin-top-double">
    <%= render "devise/shared/links" %>
  </div>
</div>
