<div class="main__content profile">
  <h2 class="h2">Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, input_html: { class: 'form-control--text' }, required: true, autofocus: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send me reset instructions", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="margin-top-double">
    <%= render "devise/shared/links" %>
  </div>
</div>
