<li class="demand-item">
  <div class="demand-item__counter"><%= demand_counter + 1 %></div>
  <div class="demand-item__content">
    <div class="demand-item__name-container">
      <div class="demand-name"><%= link_to(demand.name, demand_path(demand)) %></div>
      <div class="demand-meta">
          <%= "For #{demand.area.short_name} | " if local_assigns[:display_area] %>
          <%= "#{demand.topic} | " if demand.topic %>
          demanded by <span class="demand-count"><%= number_with_delimiter(demand.user_demands.count) %></span>
      </div>
      <% if local_assigns[:display_creator] %>
        <div class="demand-item__creator">
          <span class="gray text--small">created by <%= link_to demand.user.display_name, demand.user %></span>
        </div>
      <% end %>
    </div>
    <div class="demand-item__button">
      <%= render(partial: 'demands/support-demand-form', locals: { demand: demand }) %>
    </div>
  </div>
</li>
