<nav id="navbar" class="navbar">
  <div class="navbar__overlay"></div>
  <div class="navbar__main">
    <div class="navbar__title-container">
      <span class="navbar__title mobile-only" id="navbar-title"><%= user_header %></span>
      <span class="navbar__title--main" id="navbar-title-open">listofdemands.us</span>
    </div>
    <button id="navbar-toggle" class="navbar__toggle btn btn-icon btn-transparent mobile-only" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <svg class="icon icon-menu" id="icon-menu"><use xlink:href="#icons-menu"></svg>
      <svg class="icon icon-close" id="icon-x"><use xlink:href="#icons-close"></svg>
    </button>
    <div class="navbar__site-links desktop-only">
      <%= render('shared/site-links') %>
    </div>
  </div>
  <div id="navbar-expand" class="navbar__expand">
    <%= render('shared/nav-list') %>
    <%= render('shared/site-links') %>
  </div>
  <div id="navbar-extra" class="navbar__extra">
    <%= yield(:header_second_row) %>
  </div>
</nav>
