<ul class="nav-list">
  <li><%= link_to("New Demand", new_demand_path, class: "btn btn-primary--outline #{should_have_active_nav_class(new_demand_path)}") %></li>
  <% if user_signed_in? %>
    <li><%= link_to("My Demands", me_path, class: "nav-list__link #{should_have_active_nav_class(me_path)}") %></li>
  <% end %>
  <% if user_municipality.present? %>
    <li><%= link_to(user_municipality.short_name, search_url(request.query_parameters.merge({scope: ''})), class: "nav-list__link #{should_have_active_nav_class(search_url, '')}") %></li>
    <li><%= link_to("#{user_municipality.county.short_name} County", search_url(request.query_parameters.merge({scope: 'county'})), class: "nav-list__link #{should_have_active_nav_class(search_url, 'county')}") %></li>
    <li><%= link_to(user_municipality.state.short_name, search_url(request.query_parameters.merge({scope: 'state'})), class: "nav-list__link #{should_have_active_nav_class(search_url, 'state')}") %></li>
    <li><%= link_to(user_municipality.country.short_name, search_url(request.query_parameters.merge({scope: 'country'})), class: "nav-list__link #{should_have_active_nav_class(search_url, 'country')}") %></li>
  <% end %>
</ul>
<% if user_municipality.present? %>
  <div class="pad-top pad-horizontal--double nav-list__change-location">
    <%= link_to('change location', edit_area_or_profile_path, class: "page-header__title-link pad-horizontal--double") %>
  </div>
<% end %>
<div class="nav__blurbs">
  <span class="nav-blurb">Understand what matters the most from Me to We.</span>
  <span class="nav-blurb">Add your own demands and take action to impact policy.</span>
</div>
