<div class="edit-demand">
  <h1 class="h2">Edit Demand</h1>
  <%= simple_form_for(@demand) do |f| %>
    <%= render "errors", locals: { demand: @demand }%>
    <% topic_options = Constants::DEMAND_TOPICS.map{ |topic| [topic, topic] } %>
    <%= f.input(:problem_text, input_html: { class: 'typeahead form-control--text', data: {source: Problem.all.map(&:name).uniq.to_json} }) %>
    <%= f.input(:solution, input_html: { class: 'typeahead form-control--text' }, required: false) %>
    <%= f.input(:topic, input_html: { class: 'form-control form-control--select' }, as: :select, collection: topic_options, required: false) %>
    <%= f.input(:is_statewide, label: "Applies to the entire state of #{current_user.municipality.state.name}", input_html: { class: 'form-control--checkbox' }, required: false, as: :boolean) %>
    <%= f.submit("Save", class: 'btn btn-primary') %>
  <% end %>
</div>
