<div class="main__content">
  <div class="main__scroll pad-all">
    <h1 class="h2"><%= @demand.name %></h1>
    <% if current_user_owns_demand? %>
      <%= link_to 'Edit', edit_demand_url(@demand) %>
    <% end %>
    <% @demand.solution.split("\n").each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end %>
    <% if demanded_by_user?(@demand) %>
      <span class="btn btn-primary btn-demand">Demanded</span>
    <% else %>
      <%= form_tag(supported_demands_path) do %>
        <input type="hidden" name="id" value="<%= @demand.id %>" />
        <%= submit_tag("Demand", class: 'btn btn-primary--outline btn-demand') %>
      <% end %>
    <% end %>
  </div>
</div>
