<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center"><%= @demand.name %></h1>
    <% @demand.solution.split("\n").each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end %>
    <% if demanded_by_user?(@demand) %>
      <span class="btn btn-primary btn-demand">Demanded</span>
    <% else %>
      <%= form_tag(supported_demands_path) do %>
        <input type="hidden" name="id" value="<%= demand.id %>" />
        <%= submit_tag("Demand", class: 'btn btn-default btn-demand') %>
      <% end %>
    <% end %>
  </div>
</div>