<div class="row">
  <div class="col-xs-12">
    <%= link_to('view profile', profile_path, class: 'pull-right') %>
    <h1 class="text-center">Top Priorities</h1>

    <%= form_tag(supported_demands_path, method: :put, remote: true, authenticity_token: true) do %>
      <ol class="list-group supported-demands sortable-list">
        <% current_user.user_demands[0..4].each do |demand| %>
          <li class="list-group-item">
            <%= hidden_field_tag("supported_demands[]", demand.id) %>
            <%= demand.problem.name %>
          </li>
        <% end %>
      </ol>
      <h3>All demands</h3>
      <ul class="list-group supported-demands sortable-list">
        <% current_user.user_demands[5..-1].each do |demand| %>
          <li class="list-group-item">
            <%= hidden_field_tag("supported_demands[]", demand.id) %>
            <%= demand.problem.name %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<% content_for(:before_body) do %>
<script type="text/javascript">
  $('.sortable-list').each(function(index, element) {
    new Sortable(element, {
      group: "yep",
      onEnd: function(event) {
        $(event.target).closest('form').submit();
      },
      onAdd: function(event) {
        $(event.target)
          .closest('form')
          .append($("<input name='redirect' value='true'>"))
          .removeData('remote');
      }
    });
  })
</script>
<% end %>