<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>List of Demands</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Asap:400,500" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-10273473-30"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-10273473-30');
      </script>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render("shared/flashes") %>
    <%= render("shared/header") %>
    <aside class="sidebar desktop-only">
      <%= link_to "listofdemands.us", "/", class: "sidebar__title" %>
      <%= render('shared/nav-list') %>
      <%= render('shared/site-links') %>
    </aside>
    <main class="main">
      <%= yield %>
    </main>
    <%= yield(:before_body) %>
    <div id="overlay" class="body-overlay"></div>
    <%= raw Rails.application.assets_manifest.find_sources('icons.svg').first.force_encoding("UTF-8") %>
  </body>
</html>
